@import 'c/cssLibrary';

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4 {
    color: #fff;
}

.contactInfo.education a {
    text-decoration: none;
}

.school {
    font-weight: 300;
}

.degree {
    font-weight: 600;
}